*,*:before,*:after{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}

.wrap{
    max-width: 1000px;
    margin: 0 auto;
}
/**************HEADER區塊**************/
.header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(249, 248, 248);
    padding: 10px 0;
}
.header li{
    margin-right: 20px;
}
.header a{
    display: block;
}
.header  a span{
    color:coral;
    font-size: 20px;
}
.header a:hover{
    font-weight: bold;
}

@media (max-width: 768px){
    .header li{
        width: 48%;
        margin: 0 1%;
        text-align: center;
    }
}




/**************NAV導覽**************/
.logo h1 a{
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(../images/images/logo.png);
    background-repeat: no-repeat;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 10px 20px;
}
.nav ul{
    display: flex;
}
.nav ul li{
    padding: 0px 20px;
    height: 50px;
}
.menu li a{
    display: block;
    color:rgb(18, 208, 208);
    padding: 15px 0;
}
.menu li:hover{
    border-bottom: 5px solid rgb(18, 208, 208);
}

@media (max-width:768px){
    .nav{
        flex-wrap: wrap;
    }
    .logo{
        width: 100%;
    }
    .logo h1 a{
        background-position: center center;
    }
    .menu{
        width: 100%;
        flex-wrap: wrap;
    }
    .menu li{
        width: 48%;
        text-align: center;
        margin: 1% 1%;
        background-color: rgb(18, 208, 208);
    }
    .menu li a{
        color:black
    }
    .menu li:hover{
        border-bottom: none;
        cursor:pointer;
    }
    .menu li:hover a{
        color:#fff;
    }

}

/**************CONTENT內容**************/
.content{
    width: 100%;
    clear: both;
    display: flex;
    background-color: #fff;
    padding-top: 5px;
}
.content h2{
    margin: 10px auto 5px auto;
}
.content >li{
    /* outline: auto; */
    width: 31.3333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1%;
    box-shadow: 0 1px 5px lightgray;
}
.content >li p{
    padding: 0 21px;
    line-height: 1.5;
}
.content ol{
    width: 100%;
    float: left;
    padding-left: 25px;
}
.content ol li{
    list-style:inside;

}
.content li:last-child p{
    width: 100%;
    float: left;    
}

@media (max-width:768px){
    .content{
        flex-direction: column;
    }
    .content >li{
        width: 98%;
        margin: 5px 1%;
    }
}